/* CSS per dispositivi mobili */
@media only screen and (max-width: 768px) {
    /* Riduci la dimensione del logo nell'header */

    header {
        height: 150px;
    }
    
    #logo {
        width: 200px;
    }

    /* Centra i social nell'header */
    #social {
        margin-top: 20px;
        text-align: center;
    }

    /* Stile per la navbar su dispositivi mobili */
    nav {
        text-align: center;
    }

    nav ul {
        margin-top: 10px;
    }

    nav li {
        display: block;
        margin: 0;
    }

    nav a {
        padding: 10px;
    }

    /* Stile per il menu a tendina dei "Progetti" su dispositivi mobili */
    #progetti-dropdown {
        position: static;
        width: 100%;
        left: 0;
        bottom: auto;
        background-color: transparent;
    }

    /* Riduci le dimensioni dei blocchi con classe "mio" */
    .mio {
        width: 150px;
        height: 150px;
    }

    /* Riduci la dimensione del bottone */
    .btn-toolset {
        padding: 15px 60px;
        font-size: 20px;
    }

    /* Riduci le dimensioni dei titoli */
    .benvenuto, .rondo1, .rondo3, .successo {
        font-size: 30px;
    }

    /* Riduci la dimensione del testo */
    .testo, .rondo2, .rondo4, .testonelviola {
        font-size: 16px;
    }

    /* Riduci la dimensione delle icone dei social */
    #linkedin, #instagram, #youtube {
        font-size: 1.5em;
    }

    /* Rimuovi lo sfondo del video per dispositivi mobili */
    #myVideo {
        display: none;
    }

    /* Riduci la dimensione delle stelle */
    #stelle {
        width: 150px;
        margin-top: 10px;
    }

    /* Riduci la dimensione delle immagini nella sezione "scrollDiv" */
    #scrollImg, #stella1, #stella2, #stella3, #stella4 {
        width: 80px;
    }

    /* Centra il testo nella sezione "scrollDiv" */
    .nelviola, .testonelviola {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
}
