/* Stile per il video di sfondo */
#myVideo {
    display: none; /* Nascondi il video di sfondo */
  }
  
  /* Aggiungi stili per l'header */
  header {
    height: auto;
    padding: 10px;
    text-align: center;
    background-color: #000000;
  }
  
  /* Aggiungi stili per il logo */
  #logo {
    width: 200px; /* Regola la larghezza del logo per il layout mobile */
    position: static;
  }
  
  /* Aggiungi stili per il menu a tendina */
  #progetti-dropdown {
    display: none;
    background-color: rgb(0, 0, 0);
    width: 100%; /* Larghezza del menu a tendina per occupare tutto lo spazio disponibile */
    left: 0;
    bottom: 0;
  }
  
  /* Aggiungi stili per la navbar mobile */
  nav {
    text-align: center;
    padding: 0;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0;
  }
  
  nav a {
    font-size: 18px; /* Regola la dimensione del testo per il layout mobile */
    padding: 15px 0;
    border-radius: 0;
  }
  
  /* Modifica stili per il pulsante dei progetti */
  .btn-toolset {
    font-size: 18px;
    padding: 15px 40px;
  }
  
  /* Aggiungi stili per i blocchi di contenuto */
  .nero,
  .rounded-div,
  .rounded-div2,
  .viola {
    width: 100%; /* Occupa l'intera larghezza dello schermo */
    border-radius: 0; /* Rimuovi l'arrotondamento degli angoli */
    margin: 20px 0; /* Aggiungi spazio tra i blocchi */
  }
  
  /* Aggiungi stili per il testo all'interno dei blocchi */
  .benvenuto,
  .rondo1,
  .rondo2,
  .rondo3,
  .rondo4,
  .nelnero,
  .nelviola,
  .testonelviola {
    font-size: 18px; /* Regola la dimensione del testo per il layout mobile */
    margin: 10px 0; /* Aggiungi spazio tra i blocchi di testo */
  }
  
  /* Stili per le icone social nel menu mobile */
  #social {
    margin-top: 20px; /* Regola il margine superiore per il menu mobile */
    text-align: center;
  }
  
  #linkedin,
  #instagram,
  #youtube {
    font-size: 30px;
    margin: 0 10px;
  }
  
  /* Rimuovi lo sfondo dei link attivi */
  nav a.active,
  nav a.active:hover {
    background: none;
  }
  
  /* Rimuovi il video di sfondo in caso di schermi molto piccoli */
  @media (max-width: 400px) {
    #myVideo {
      display: none;
    }
  }
  